extends layout

block content
	h1= title
	ul
		for i in data
			li
				a(href='/hongyi-contact/item/#{i.id}')= i.firstname + ' ' + i.lastname
		else
			li sorry, you have no contacts!
	a(href='/hongyi-contact/new') Add new contact